/* Custom css classes to override the defaults for an OpenLayers overview */

.map {
  width: 100%;
  height:400px;
}

.overview {
  position: relative !important;
  width: 100%;
  height: 100%;
  bottom: auto !important; 
  left: auto !important;
  padding: 0 !important;
  background-color: #f3f4f6;
}

.overview .ol-overviewmap-box {
  border: 2px solid #0d9488;
}

.overview .ol-overviewmap-map {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  border: 0px !important;
}

.overview button{
  display: none !important;
}