/** CSS Styles */

#view {
    width: 500px;
    height: 500px;
    background-color: pink;
    padding: 0;
    margin: auto;
    display: block;
    margin-top: 100px;
    z-index: 10;
}

.view {
    width: 500px;
    height: 500px;
    padding: 0;
    margin: auto;
    display: block;
    margin-top: 37px;
    z-index: 10;
}

#app-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  pointer-events: none;

}
#canvas-container {
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: 10;
}

.pointers-please {
    pointer-events: auto;
}
