/** CSS Styles */
.faIcons {
    /*  'grey darken-2' in the material color palette */
    color: #616161;
}

.faIconsActive {
    /*  'blue darken-1' in the material color palette */
    color: #1E88E5;
}

/*  There are a few classes in here to handle pointer events on the overlapping
    openseadragon and paperJS canvas elements. At the moment these are simply
    switched on our off to toggle the interaction mode. */
.pointers-please {
    pointer-events: auto;
}

.pointers-no {
    pointer-events: none;
}

html, body {
      height: 100%;
      width: 100%;
}
